email:
  host: smtp.gmail.com
  port: 587
  from: your.email@gmail.com
  to: your.email@gmail.com
  encrypted_password: your_encrypted_email_password
ynab:
  encrypted_access_token: your_encrypted_ynab_token
  budget_name: Your Budget Name in YNAB (Usually "My Budget" by default)
institutions:
  - name: fidelity
    auth:
      username: your_username
      encrypted_password: your_encrypted_password
    accounts:
      - name: Your Account Name in Fidelity
        mapping: Your Account Name in YNAB
      - name: Your Second Account
        mapping: Your Second Account in YNAB
  - name: netbenefits
    auth:
      username: your_username
      encrypted_password: your_encrypted_password
    accounts:
      - name: Your Account Name in Fidelity
        mapping: Your Account Name in YNAB
